* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #b11226;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    background: #f5f5f5;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    color: #b11226;
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: #b11226;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* SEARCH */
.search {
    padding: 40px;
    text-align: center;
}

.search form {
    margin-top: 20px;
}

.search select,
.search input,
.search button {
    padding: 10px;
    margin: 5px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #b11226;
}

body {
    font-family: Arial;
    background: #f4f6f8;
}

h2 {
    color: #b30000;
}

table {
    width: 60%;
    background: white;
    border-collapse: collapse;
    margin: 20px auto;
}

th {
    background: #b30000;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

button {
    background: #b30000;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}
